Package: ca.btraas.musiclove
Name: MusicLove
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Adds a heart indicator for songs you've "loved"
Maintainer: Brayden Traas
Author: Brayden Traas
Section: Tweaks
