Package: ca.btraas.musiclove
Name: MusicLove
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Adds a heart indicator for songs you've "loved"
Maintainer: Brayden Traas
Author: Brayden Traas
Section: Tweaks
Version: 0.0.2-2+debug
Installed-Size: 156
